/* Content Styles */
.content {
	line-height: 1.47;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	font-weight: bold;
}
.content h1 {
	margin-bottom: 1em;
}
.content h2 {
	margin-bottom: .75em;
}
.content h3 {
	margin-bottom: .5em;
}
.content h4,
.content h5,
.content h6 {
	margin-bottom: .25em;
}

.content ul,
.content ol,
.content blockquote, 
.content table,
.content p {
	margin-bottom: 20px;
}
.content blockquote { 
	margin-left: 20px;
	margin-right: 20px;
}

/* Lists */
.content ul, 
.content ol { 
	margin: 0 1.5em; 
}
.content ul {
	list-style-type: disc;
} 
.content ol {
	list-style-type: decimal;
} 

/* Definition List - Key/Value */
.content .kv dt,
.content .kv dd {
	float: left;
}
.content .kv dt {
	clear: left;
}

/**
 * Exceptions
 */

.post-tout .content,
.post-tout .content * {
	margin-bottom: 10px;
}