/* ==|== non-semantic helper classes ======================================== */
.imr { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.imr br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }

/**
 * Clearfix base style.  Also clearfix widgets and navs.
 */
.clearfix:before, .clearfix:after,
.in:before, .in:after,
.gfield:before, .gfield:after,
.widget:before, .widget:after,
.nav:before, .nav:after { content: ""; display: table; }

.clearfix:after,
.in:after,
.gfield:after,
.widget:after,
.nav:after { clear: both; }

.clearfix,
.in,
.gfield,
.widget,
.nav { zoom: 1; }

/* Nav */
.nav {
	list-style-type: none;
	margin: 0;
}
.nav li {
	float: left;
}
.nav .sub-menu li {
	float: none;
}
a.btn {
	display: -moz-inline-box; /* FF2 */
	display: inline-block; /* Standard. IE8+, Saf, FF3+ */
	/**
	 * @bugfix inline-block fix
	 * @see http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/
	 * @valid no
	 */
	zoom: 1;
	*display: inline;
	
	border: #6c8e1d solid 2px;
	color: #6c8e1d;
	font-size: 13px;
	padding: 7px 11px;
}
a.btn:hover {
	text-decoration: none;
}
a.btn span {
	background: url(../img/sprite-y.24bit.png) right 3px no-repeat;
	padding-right: 10px;
}