/**
 * Fonts
 */

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/regular/lato-regular-webfont.eot');
    src: url('../fonts/lato/regular/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/regular/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato/regular/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato/regular/lato-regular-webfont.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/**
 * Typography
 */

/*#carousel-main .title,
#nav-aux,
.btn,
.button,
.archive .post-event .more,
.section-title,
.widget_archive_event {
	font-family: 'lato', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}*/


/**
 * Structure
 */

#carousel-main .type-donor .title {
    background-image: url(../img/bdr-carousel-title-top-donor.png); /* Graphical top border */
}
#nav-aux .nav-donor .sub-menu-container {
	left: -14px;
}
.nav-join {
    display: none;
}

/**
 *  Forms
 */

.gform_footer input[type="submit"]{
    background:url(../img/submitBtn.png);
}
.form-newsletter input[type="submit"] {
    background: url(../../main/img/sprite-y.24bit.png) 116px -291px;
    border: 0;
    display: block;
    height: 23px;
    overflow: hidden;
    position: absolute;
    right: 1px;
    text-indent: -1000px;
    top: 1px;
    width: 23px;
}

/**
 *  Templates
 */

.page-template-page-our-stories-php .stories-links .menu-item-page-historias-de-familias-de-donantes a {
    background: url('../img/imr-stories-donor.png') no-repeat;
    height: 502px;
    left: 52px;
    top: -15px;
    width: 500px;
    z-index: 2;
}

.page-template-page-our-stories-php .stories-links .menu-item-page-historias-de-receptores a {
    background: url('../img/imr-stories-recipient.png') no-repeat;
    height: 490px;
    right: 0;
    top: 0;
    width: 522px;
    z-index: 3;
}